{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <div class="contact-layout">
            <div class="dark-layout">
                <h1 class="text-center contact-title">за нас</h1>
            </div>
        </div>
    </div>
    <div class="container cont-info">
        <div class="row">
            <div class="col-sm-12">
                <p><strong class="strong">„Лъки строй 2011"ЕООД</strong> е създадена през 2011 год. в гр. Габрово като
                    правоприемник на <strong class="strong">"Лукс инвест"ООД</strong> с основна дейност строителство и
                    ремонт на обществени, административни, промишлени и жилищни сгради, хотелски комплекси, спортни
                    площадки и съоръжения.</p>
                <p>Фирмата разполага със собствена база за производство на метални конструкции и изделия от
                    метал.Производството е обезпечено с нови, високопроизводителни машини, отговарящи на всички норми за
                    безопастност и осигуряващи качествено изпълнение на продуктите.Гаранция за това са притежаваните
                    сертификати ISO 9001:2000 и OHSAS 18001:2007.</p>
                <p>През годините бяха реализирани мащабни строително-инвестиционни проекти на фирми от различни области
                    на бизнеса.</p>
            </div>
            <div class="col-sm-12 col-lg-7">
                <ul>
                    <li>Супермаркет ЛИДЛ, гр.София, бул.Сливница</li>
                    <li>Хамбергер България ЕООД, гр.Севлиево</li>
                    <li>Супермаркет ЛИДЛ, гр.Хасково</li>
                    <li>Супермаркет БИЛЛА, гр.София, кв.Бъкстон</li>
                    <li>Супермаркет ЛИДЛ, гр.София, бул.Черни връх</li>
                    <li>Жилищен комплекс МОНТЕБОЯНА, гр.София, кв.Бояна</li>
                    <li>Супермаркет БИЛЛА, к-с Кристал, гр.Шумен</li>
                    <li>Капитан Дядо Никола“АД – гр.Габрово</li>
                    <li>Финансов център ДСК, гр.Дряново и гр.Троян</li>
                    <li>Супермаркет ЛИДЛ,гр.София, кв.Свобода</li>
                    <li>Супермаркет БИЛЛА,ул.Г.С.Раковска, гр.София</li>
                    <li>Супермаркет БИЛЛА,пл.Лъвов мост, гр.София</li>
                    <li>„Бенчмарк фонд имоти“ АДСИЦ -гр.София</li>
                    <li>„ИдеалСтандартБългария“АД-гр.Севлиево</li>
                    <li>„Керамика Бургас” – гр. Бургас</li>
                    <li>„Мехатроника” АД – гр.Габрово</li>
                    <li>„Милкиекс”ООД – гр.Севлиево</li>
                    <li>„Хринад“ ООД – гр.Севлиево</li>
                    <li>„Екоплод” ЕООД – гр.Велико Търново</li>
                    <li>„Феростийл”ООД – гр.София</li>
                    <li>Хилцингер Полирни технологии” – гр.Горна Оряховица</li>
                    <li>„Стийл Дизайн” – гр. Габрово</li>
                    <li>„СЖ Корект” – гр. Бургас</li>
                    <li>Община Габрово</li>
                </ul>
            </div>
            <div class="col-sm-12 col-lg-5 img-worker">
                <img src="{{ asset('assets/img/worker.png') }}" alt="worker">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 lux-link">
                <a href="http://www.lux-invest.com/bg/home.html" class="offer-btn" target="_blank">Виж повече</a>
            </div>
        </div>
    </div>
{% endblock %}